@charset "UTF-8";

body {
	font-family:sans-serif;
	margin:0px;
}

form {
	display:inline-block;
}

.slider {
	display: inline-block;
}

#map {
	vertical-align:top;position: relative;
}

#widtest {
	position: absolute; 
	width: 320px; 
	right: 10px; 
	top: 10px; 
	padding: 10px;
}

#widtest img {
	display:block;
	margin: 0 auto;
}

#widtest .ui-dialog-content {
	background: none;
	border: 1;
}

#plugin_guis {
	font-size: 10px;
}

#plugin_guis h1 {
	font-size: 14px;
}
#plugin_guis h2 {
	font-size: 12px;
}